.YandexListScroll::-webkit-scrollbar {
    width: 5px;
}


.YandexListScroll::-webkit-scrollbar-thumb {
    background-color: #E8E8F0;
    height: 50px;
    border-radius: 8px
}

.placemarkCLuster {

    background-color: red;
    color: green;
}

.button__bar {
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    bottom: 0px;
    height: 32px;
    width: 320px !important;
    display: flex !important;
    justify-content: center !important;
    border-radius: 8px;
    background-color: #FCFCFC;
    margin: auto;
    bottom: 1px;
    padding: 0px 50px;
    border: 1px solid #F2F2F2;

}
.button__bar ul {
    width: fit-content;
    border: 1px solid red;
}

.button__bar li {
    background-color: #E8E8E8;
    height: 6px;
    width: 64px;
    margin: auto;
    overflow: hidden;
    color: #E8E8E8;
    border-radius: 8px;
}

.button__bar li.slick-active button {
    width: 100%;
    height: 100%;
    opacity: .75;
    color: #A1A1A1;
    background-color: #A1A1A1;

}