.categoryScroll::-webkit-scrollbar {
    width: 5px;
}

.categoryScroll::-webkit-scrollbar-thumb {
    background-color: #b5b5bd;
    height: 50px;
    border-radius: 8px
}

/* .openedBrands {
    height: 0;
    overflow: hidden;
} */

.openBrands.open .openedBrands {
    height: auto;
}

.input-range {
    top: 37px;
    width: 98%;
}

.input-range__slider {
    background-color: #fff !important;
    border: 1px solid #000 !important;
}

.input-range__label--max,  
.input-range__label--min{
    display: none;
}
