@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AeonicProAir";
  src: url("/src/fonts/AeonikPro-Air.otf") format('otf');
}
@font-face {
  font-family: "AeonicProAirItalic";
  src: url("/src/fonts/AeonikPro-AirItalic.otf") format('otf');
}
@font-face {
  font-family: "AeonicProBlack";
  src: url("/src/fonts/AeonikPro-Black.otf") format('otf');
}
@font-face {
  font-family: "AeonicProBlackItalic";
  src: url("/src/fonts/AeonikPro-BlackItalic.otf") format('otf');
}
@font-face {
  font-family: "AeonicProBold";
  src: url("/src/fonts/AeonikPro-Bold.otf") format('otf');
}
@font-face {
  font-family: "AeonicProBoldItalic";
  src: url("/src/fonts/AeonikPro-BoldItalic.otf") format('otf');
}
@font-face {
  font-family: "AeonicProLight";
  src: url("/src/fonts/AeonikPro-Light.otf") format('otf');
}
@font-face {
  font-family: "AeonicProLightItalic";
  src: url("/src/fonts/AeonikPro-LightItalic.otf") format('otf');
}
@font-face {
  font-family: "AeonicProMedium";
  src: url("/src/fonts/AeonikPro-Medium.otf") format('otf');
}
@font-face {
  font-family: "AeonicProMediumItalic";
  src: url("/src/fonts/AeonikPro-MediumItalic.otf") format('otf');
}
@font-face {
  font-family: "AeonicProRegular";
  src: url("/src/fonts/AeonikPro-Regular.otf") format('otf');
}
@font-face {
  font-family: "AeonicProRegularItalic";
  src: url("/src/fonts/AeonikPro-RegularItalic.otf") format('otf');
}
@font-face {
  font-family: "AeonicProThin";
  src: url("/src/fonts/AeonikPro-Thin.otf") format('otf');
}
@font-face {
  font-family: "AeonicProThinItalic";
  src: url("/src/fonts/AeonikPro-ThinItalic.otf") format('otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.slick-slider {
  overflow: hidden;
}

.slick-slide>div {
  margin: 0 10px;
}

.slick-list {
  margin: 0 -10px;
}

.MoonLoad {

  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 18px;
  color: #0d263b;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #000;
}

button,
:focus,
input,
textarea,
select {
  outline: none;
}

.openFile {
  display: none;
  transform: translateX(-100%);
  transition: 0.5s;
  z-index: -1;
  height: 0;
  background-color: #fff;
}

.closeFile {
  display: block;
  transform: translateX(0%);
  transition: 0.5s;
  z-index: -10;
  background-color: #fff;
}


.followers {
  /* top: -1px; */
  left: 0;
  z-index: -30;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s ease-out;
}


.nav-link:hover + .followers{
  left: 31px;
  z-index: 10;
}